@media only screen and (max-width: 768px){
.colosseum-right-column img {
    color: #d7a856;
    min-height: 170px;
    padding: 0;
    position: absolute;
    top: 250;
    right: 50px;
    width: 70%;
    z-index: 1;
}
}
