
/* saving by category sections */
.saving-box-title-offset{
     width: 17%;
}
.col-half-offset{
border: 1px solid white;
     width: 20%;
}
.saving-box{
width: 60%;
margin-left: 120px;
}
.saving-box-title{
width: 70%;
margin-left: 120px;
}
.col-xs-2{
    background: orange;
    color:#FFF;
    text-align: left;
   
}
.col-xs-3{
    background: red;
    color:#FFF;
    text-align: left;
   
}
.col-xs-4{
    background: green;
    color:#FFF;
    text-align: left;
   
}
.col-xs-5{
    background: blue;
    color:#FFF;
    text-align: left;
   
}
.col-xs-6{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-7{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-8{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-9{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-10{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-11{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.saving-by-category{
float: left;
}

@media only screen and (max-width:991px){
 /* saving by category sections */
.saving-box-title-offset{
     width: 17%;
}
.col-half-offset{
border: 1px solid white;
     width: 20%;
}
.saving-box{
width: 60%;
margin-left: 0;
}
.saving-box-title{
width: 70%;
margin-left: 0;
}
.col-xs-2{
    background: orange;
    color:#FFF;
    text-align: left;
   
}
.col-xs-3{
    background: red;
    color:#FFF;
    text-align: left;
   
}
.col-xs-4{
    background: green;
    color:#FFF;
    text-align: left;
   
}
.col-xs-5{
    background: blue;
    color:#FFF;
    text-align: left;
   
}
.col-xs-6{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-7{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-8{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-9{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-10{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-11{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.saving-by-category{
float: left;
}
}
@media only screen and (max-width:768px){
.saving-box{
    width: 80%;
    margin-left: -40px;
}
.saving-box-title{
    width: 100%;
    margin-left: -50px;
    font-size: 10px;
}
/* saving by category sections */
.saving-box-title-offset{
     width: 17%;
}

.col-half-offset{
border: 1px solid white;
     width: 20%;
}


.col-xs-2{
    background: orange;
    color:#FFF;
    text-align: left;
   
}
.col-xs-3{
    background: red;
    color:#FFF;
    text-align: left;
   
}
.col-xs-4{
    background: green;
    color:#FFF;
    text-align: left;
   
}
.col-xs-5{
    background: blue;
    color:#FFF;
    text-align: left;
   
}
.col-xs-6{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-7{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-8{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-9{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-10{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-11{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.saving-by-category{
float: left;
}


@media only screen and (max-width:480px){
.saving-box{
width: 100%;
margin-left: 0;
}
.saving-box-title{
width: 110%;
margin-left: 0;
}

/* saving by category sections */
.saving-box-title-offset{
     width: 17%;
}

.col-half-offset{
border: 1px solid white;
     width: 20%;
}



.col-xs-2{
    background: orange;
    color:#FFF;
    text-align: left;
   
}
.col-xs-3{
    background: red;
    color:#FFF;
    text-align: left;
   
}
.col-xs-4{
    background: green;
    color:#FFF;
    text-align: left;
   
}
.col-xs-5{
    background: blue;
    color:#FFF;
    text-align: left;
   
}
.col-xs-6{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-7{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-8{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-9{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-10{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-11{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.saving-by-category{
float: left;
}


@media only screen and (max-width:480px){
/* saving by category sections */
.saving-box-title-offset{
     width: 17%;
}

.col-half-offset{
border: 1px solid white;
     width: 20%;
}

.saving-box{
width: 100%;
margin-left: 0;
}
.saving-box-title{
width: 110%;
margin-left: 0;
}

.col-xs-2{
    background: orange;
    color:#FFF;
    text-align: left;
   
}
.col-xs-3{
    background: red;
    color:#FFF;
    text-align: left;
   
}
.col-xs-4{
    background: green;
    color:#FFF;
    text-align: left;
   
}
.col-xs-5{
    background: blue;
    color:#FFF;
    text-align: left;
   
}
.col-xs-6{
    background: none;
    color:#FFF;
    text-align: left;
   
}
.col-xs-7{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-8{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-9{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-10{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.col-xs-11{
    background: none;
    color:#FFF;
    text-align: left;
   
}

.saving-by-category{
float: left;
}

